* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}

header {
    width: 80%;
    height: 5vh;
    margin: 0 auto;
    background-color: gray;
    display: flex;
}

.left-side {
    width: 20%;
    height: 5vh;
    display: flex;
}

p {
    color: white;
    margin: auto;
}



/* .container {
    width: 30%;
    height: 4vh;
    background-color: blue;
} */

.right

